@media only screen and (max-width: 991px){
    #subir{
        top: 90vh;
        left: 90vw;
    }
    .menu-movil{
        display: block;
        display: none;
    }
    .contenedor .inicio img:first-child{
        width: 50%;
        height: 30%;
        
    }
    .contenedor{
        width: 80%;
        margin-left: 25px;
        margin-right: 25px;
    }
    .contenedor .compartir{
        position: fixed;
        top: 90%;
        left: 0px;
        width: 50%;
    }
    .contenedor .compartir ul li{
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 767px){
    .menu-movil{
        display: block;
    }
    .menu-pc{
        display: none;
    }
    .post {
        flex: 50%;
        max-width: 50%;
      }
    .contenedor .compartir{
        top:85vh;
        height: 15vh;
    }
}
@media (max-width: 600px) {
  .post {
    flex: 100%;
    max-width: 100%;
  }
}